<div class="container">
	<div class="row">
		<div class="col-xl-2">
			<div class="row">
				<div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
					<label class="btn btn-primary btn-block disabled">Running Assignments</label>
					<label class="btn btn-primary btn-block" *ngFor="let assignment of assignments" (click)="assignmentSelect(assignment)">
						<input type="radio" name="assignments" id={{assignment.assignment_id}} autocomplete="off"  value={{assignment.ID}}>{{assignment.NAME}}
					</label>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="btn-group-vertical btn-group btn-block">
					<button class="btn btn-info disabled btn-block">Lessons yet to be assigned</button>
					<button *ngFor="let lesson of potentialAssignments" type="button" class="btn btn-info btn-block" (click)="lessonSelect(lesson)" data-toggle="modal" data-target="#newAssignmentModal">
						{{lesson.NAME}}
					</button>
					<button class="btn btn-success btn-block" data-toggle="modal" data-target="#newLessonModal">New Lesson</button>
				</div>
			</div>
			
		</div>
		<div class="col-xl-10">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-primary" *ngFor="let group of groups" (click)="groupSelect(group)">
					<input type="radio" name="groups" id={{group.ID}} autocomplete="off"  value={{group.ID}}>{{group.NAME}}
				</label>
				<button type="button" class="btn btn-info" (click)="addGroup()" data-toggle="modal" data-target="#addGroupModal">Add Group</button>
			</div>
			<h3 *ngIf="selectedAssignment !== undefined ? selectedAssignment !== null : false">Name: {{selectedAssignment.NAME}}</h3>
			<h3 *ngIf="selectedAssignment !== undefined ? selectedAssignment !== null : false">Start: {{selectedAssignment.START_DATE | date}}</h3>
			<h3 *ngIf="selectedAssignment !== undefined ? selectedAssignment !== null : false">Due: {{selectedAssignment.DUE_DATE | date}}</h3>
			<table class="table table-hover">
				<thead>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
					<div *ngIf="selectedAssignment !== undefined">
					<th scope="col" *ngIf="selectedAssignment.assignment_id > 0">Status</th>
					</div>
				</thead>
				<tr *ngFor="let employee of employees" [class.table-success]="employee.IS_COMPLETE !== null ? employee.IS_COMPLETE.data[0] === 1 : false">
					<td>{{employee.FIRST_NAME | pending}}</td>
					<td>{{employee.LAST_NAME | pending}}</td>
					<td>{{employee.EMAIL}}</td>
					<div *ngIf="selectedAssignment !== undefined && employee.IS_COMPLETE !== null">
					<td *ngIf="selectedAssignment.assignment_id > 0" >{{employee.IS_COMPLETE.data[0]}}</td>
					</div>
				</tr>
			</table>
			<!-- TODO - implement email buttons --> 
		</div>
	</div>
	<br />
	<div class="row"><button class="btn btn-info" (click)="emailGroup()" data-toggle="modal" data-target="#emailModal">Email all in this group</button></div>
	<div class="row"><button class="btn btn-danger" (click)="emailGroupIncomplete()" data-toggle="modal" data-target="#emailModal">Email all incomplete in this group</button></div>
	<div class="row"><button class="btn btn-danger" (click)="emailGroupLate()" data-toggle="modal" data-target="#emailModal">Email all late in this group</button></div>
	<div class="modal fade" id="newAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">New Assignment</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<p *ngIf="selectedLesson !== undefined">{{selectedLesson.NAME}}</p>
			<form>
				<fieldset>
					<label>Start date</label>
					<input type="date" id="startDate">
					<label>Due date</label>
					<input type="date" id="dueDate">
					<label>End date</label>
					<input type="date" id="endDate">
				</fieldset>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Start Assignment</button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<label>Recipients</label>
			<input type="text" class="form-control form-control-sm" [(ngModel)]="modalEmails">
			<label>Message</label>
			<textarea class="form-control" rows="3"></textarea>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Send Email</button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Add Lesson</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form>
				<fieldset>
				<div class="form-group">
				  <label for="selectBook">Select Book</label>
				  <select class="form-control" id="selectBook">
					<option>Book 1</option>
					<option>Book 2</option>
					<option>Book 3</option>
					<option>Book 4</option>
					<option>Book 5</option>
				  </select>
				</div>
				<div class="form-group">
				  <label for="lessonTitleInput">Lesson Title</label>
				  <input type="text" class="form-control" id="lessonTitleInput" aria-describedby="lessonTitleHelp" placeholder="Enter title">
				  <small id="lessonTitleHelp" class="form-text text-muted">Used to select lesson on new assignment screen</small>
				</div>
				<div class="form-group">
				  <label for="lessonStart">Lesson Page Start</label>
				  <input type="number" class="form-control" id="lessonStart" aria-describedby="lessonStartHelp" placeholder="Enter title" [(ngModel)]="pdfStartPage" [ngModelOptions]="{standalone: true}">
				  <label class="btn btn-primary" id="startPageButton" (click)="setStartPage()">Use Current Page</label>
				  <small id="lessonStartHelp" class="form-text text-muted"></small>
				</div>
				<div class="form-group">
				  <label for="lessonEnd">Lesson Page End</label>
				  <input type="number" class="form-control" id="lessonEnd" aria-describedby="lessonEndHelp" placeholder="Enter title" [(ngModel)]="pdfEndPage" [ngModelOptions]="{standalone: true}">
				  <label class="btn btn-primary" id="endPageButton" (click)="setEndPage()">Use Current Page</label>
				  <small id="lessonEndHelp" class="form-text text-muted"></small>
				</div>
				</fieldset>
			</form>
			<button class="btn btn-primary" (click)="decrementPage()">Prev</button>
			<input type="number" [(ngModel)]="pdfCurrentPage">
			<button class="btn btn-primary" (click)="incrementPage()">Next</button>
			<pdf-viewer [src]="testPdf" [render-text]="false" [(page)]="pdfCurrentPage" [show-all]="false" [original-size]="false" style="display: block;"></pdf-viewer>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Submit Lesson</button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Add Group</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Add Group</button>
		  </div>
		</div>
	  </div>
	</div>
</div>