#loginForm {
  width: 75%;
  margin-top: 2.5em;
  margin-left: 12.5%;
  font-size: 1.5em;
}

#userEmail,
#userPassword {
  margin-bottom: 2em;
  padding: 0.5em;
  font-size: 1em;
}

#loginButton {
  font-size: 1em;
  margin-bottom: 2em;
  padding: 0.5em;
}

#errorMessage {
  margin: 0em;
  padding: 0em;
}

.user-info {
  text-align: right;
  font-size: 1.25em;
}

.user-logout {
  cursor: pointer;
  transition: 0.2s ease-out all;
  color: #000000;
}

.user-logout:hover {
  color: #FFFFFF;
  transition: 0.2s ease-out all;
}

.assignment-list--container{
    max-height: 100%;
}
.has-error input{
    border-color: red;
}

.lessons tr.invalid {
    border: 2px solid red !important;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

#groupTabs {
  padding-top: 1em;
  border-bottom: solid black 0.1em;
}

#groupTabs label {
  border-top: solid black 0.1em;
  border-bottom: solid black 0.1em;
  border-left: solid black 0.1em;
  border-right: solid black 0.1em;
  transform: translate(0%, 0.2em);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#groupTabs label:first-child {
  border-left: solid black 0.1em;
}

#groupTabs button {
  border-top: solid black 0.1em;
  border-bottom: solid black 0.1em;
  border-left: solid black 0.1em;
  border-right: solid black 0.1em;
  transform: translate(0%, 0.2em);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#mainContainer {
  border: solid black 0.1em;
  border-top: solid black 0em;
  background-color: #FFFFFF;
}

#summaryContainer {
  margin: 0em;
}

#summaryContainer h5 {
  margin: 1em;
}

.summary-button {
  padding: 1em;
  outline: none;
  margin: 2em 1em;
  min-width: 12em;
}

.summary-button-tab {
  width: 100%;
  padding: 1em;
  background-color: #CCCCCC;
  color: #000000;
  border-radius: 0;
  border: none;
  margin-bottom: 2em;
}

#secondaryContainer {
  height: 100%;
}

.date-header {
  border-top: solid black 0.1em;
  border-bottom: solid black 0.1em;
  padding: 1em;
}

.book-header {
  padding: 1em;
}

.lesson-header {
  padding: 1em;
  margin-top: 1em;
}

@media (min-width: 1200px) {
  #secondaryContainer {
    border-left: solid black 0.1em;
    border-right: solid black 0.1em;
  }

  .date-header {
    border-top: none;
  }
}

#assignmentButton,
#lessonButton,
#assignmentButtonActive,
#lessonButtonActive {
  background: #CCCCCC;
  outline: none;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin: 0.5em 0em;
}
#assignmentButtonActive,
#lessonButtonActive {
  background-color: #999999;
}

#lessonsContainer {
  padding: 1em;
}

.date-header h4 {
  margin: 0;
  padding: 0;
}

.assignment-summary {
  padding: 1em;
  border-bottom: solid black 0.1em;
  cursor: pointer;
  overflow: hidden;
}

.assignment-summary-selected,
.assignment-summary:hover {
  background-color: #EEEEEE;
}

.assignment-date-range,
.assignment-date-range-date {
  display: inline-block;
}

.assignment-date-range-date {
  float: right;
}

.empty-assignments {
  padding: 1em;
  border-bottom: solid black 0.1em;
}

.col-xl-2 {
  padding: 0;
}

#thirdColumn {
  margin: 0;
  padding: 1em;
}

.employee-row {
  position: relative;
}

.employee-row:hover .employee-delete p {
  opacity: 1;
}

.employee-delete p {
  vertical-align: middle;
  text-align: center;
  padding: 0em;
  margin: 0em;
  opacity: 0;
}

.employee-delete {
  cursor: pointer;
}

#groupSummary h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

#groupActions .row {
  padding: 0em 1em;
}

#groupActions .icon-text,
#groupActions .icon-action {
  width: calc(100% / 3);
}

.icon-text .icon,
.icon-action .icon {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
}

.icon-text img,
.icon-action img {
  height: 1.5em;
  width: 1.5em;
}

.icon-text .text,
.icon-action .text {
  display: inline-block;
}

@media (max-width: 500px) {
  .icon-text .icon,
  .icon-action .icon {
    display: none;
  }
}

.icon-action:hover {
  cursor: pointer;
  color: #29ABE0;
}

#bookDropdown {
  margin: 0em 0.75em;
  width: 70%;
  display:inline-block;
  font-size: 1.5em;
}

#addBookButton {
  float:right;
  width: 20%;
  margin-top: -0.25em;
}

.input-range {
  width: 5em;
}

#addLessonButton {
  width: 10em;
}

#thirdColumn,
#secondColumn {
  padding: 0em;
}

#thirdColumn #groupSummary,
#thirdColumn .table-container {
  padding: 1em;
}

.pdf-controller {
  padding: 1em;
}

.pdf-controller button {
  width: 5em;
}

.pdf-controller input {
  width: calc(100% - 11em);
}

@media (max-width: 1200px) {
  #lessonsContainer {
    border-top: solid black 0.1em;
    border-bottom: solid black 0.1em;
  }
}

.date-labels,
.date-inputs {
  font-size: 0;
}

.date-inputs input,
.date-labels p {
  font-size: 16px;
  width: 45%;
  margin: 0em;
  padding: 0em;
  display: inline-block;
}

.date-inputs input:first-of-type,
.date-labels p:first-of-type {
  margin-right: 5%;
}

#notesInput {
  width: 100%;
}

.reading-time-input input,
.reading-time-input p {
  display: inline-block;
}

#mainContainer {
  position: relative;
}

.pdf-controller {
  height: 5em;
}

#thirdColumn {
  position: relative;
}

pdf-viewer {
  width:100%;
  height: 100%;
  overflow: auto;
  position: absolute;
}

@media (min-width: 1000px) {
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 1000px) {
  #secondaryContainer {
    border-left: solid black 0.1em;
    border-right: solid black 0.1em;
  }
}

@media (min-width: 1000px) {
  .date-header {
    border-top: none;
  }
}

.login-form {
  padding: 1em;
  font-size: 1.5em;
}

.login-button {
  padding: 0.5em;
  font-size: 1.5em;
}

.alert-danger {
  margin: 0em 1em;
  font-size: 1.5em;
  padding: 0.5em;
}

.alert-danger p {
  margin: 0;
}

.due-title, .due-value {
  display: inline-block;
  margin: 0;
  padding: 0.5em;
}

.due-title {
  float: left;
}

.due-value {
  float: right;
}

.due-holder {
  font-size: 1.2em;
  width: 100%;
  display: block;
  height: 2.5em;
}

#deleteLessonButton {
  display: none;
}

#deleteLessonButton.show {
  display: inline-block;
}

.notes {
  position: relative;
}

.notes img {
  height: 1.5em;
  margin: 0.5em 0em;
}

.notes-hover {
  display: none;
  position: absolute;
    border: solid 0.1em #CCCCCC;
    background: #FFFFFF;
    border-radius: 2em;
    padding: 0.5em;
}

.notes:hover .notes-hover {
  display:block;
}

#groupTabs label {
  min-width: 10em;
}

#notesDisplay {
  width: 100%;
  word-wrap: break-word;
  margin: 0.5em 0em;
  font-size: 1.2em;
}

#adminMenu {
  display: none;
  z-index: 1;
  position: absolute;
    right: 0;
    margin: 1em;
    top: 2em;
    background: #FFFFFF;
    width: 7em;
    border: solid black 0.1em;
    border-bottom-width: 0em;
}

#adminMenu div {
  border-bottom: solid black 0.1em;
  padding: 0.5em;
  cursor: pointer;
}

.logo {
  width: 30em;
  margin: auto;
  display: block;
}
