{{yield}}
{{#each assignments as |section|}}
  <tr>
    <td class="essential">
      <div class="cs-badges">
      </div>
    </td>
    <td class="essential">

    </td>
    <td class="essential">

    </td>
    <td class="essential">

    </td>
  </tr>
{{/each}}
