<div class="website-header">
  {{#link-to 'home.assign' id='home'}}<h1 class="header-icon"></h1>{{/link-to}}
  <div class="header-actions">
    <button class="header-button" {{action 'invalidateSesson'}}>LOG OUT</button>
  </div>
</div>
