<div id="content">
  <div id="login-page">
    <h1 class="login-icon"></h1>
    <div class="login-header">LOG IN</div>
    {{#if errorMessage}}
      <p class="login-error">{{errorMessage}}</p>
    {{/if}}
    <form {{action 'authenticate' on='submit'}}>
      {{input value=identification placeholder="Email or ID" type="text"}}
      {{input value=password placeholder="Password" type="password"}}
      <button type="submit" class="submit">Sign In</button>
    </form>
  </div>
</div>
